{% extends "base.html" %}


{% block loginstatus %}
{% if user %}
<div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/editprofile">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
   {% endif %}  
{% endblock %}
            
            
{% block bodycontent %}
   
                
            <div class="hero-unit">
               
               <div align="center">
                   <p>
                     Create questions for your responders here
                </p>

               </div>
           </div>
        
{% endblock %}