{% extends "base.html" %}


{% block menuitems %}
<div class="nav-collapse collapse">
            <ul class="nav">
           <li> 
             <a href="/">Home</a></li>
             <li>
              <a href="/about">About</a></li>
              <li>
              <a href="/createquestion">Create Question</a></li>
              <li class="active">
              <a href="/getresponses">View Responses</a></li>
               <li>
              <a href="/editprofile">Edit Profile</a></li>
               </ul>
                </div>
  
{% block loginstatus %}
{% if user %}
<div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/editprofile">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
   {% endif %}  
{% endblock %}
  {% endblock %}

{% block bodycontent %}
            <div class="hero-unit">
               
               <div align="center">
                   <p>
                    View responses from your responders here
                </p>

               </div>
           </div>
        
            
{% endblock %}
